<nav class="nav" id="nav">

    <button id="show" onclick="showNav()"> </button>
    <ol>
        <li><button id="hide" onclick="hideNav()"> &#x2715;</button></li>
        <li>Kisakoodaus.fi</li>
        <li><a href="{{'/index' | relative_url }}"> Etusivu</a></li>
        <li><a href="{{'/pages/koulukisat' | relative_url }}"> Koulukisat</a></li>
        <li><a href="{{'/pages/materiaali' | relative_url }}"> Materiaali</a></li>
        <li><a href="{{'/pages/nettikisat' | relative_url }}"> Nettikisat</a></li>
        <li><a href="{{'/pages/yliopistokisat' | relative_url }}"> Yliopistokisat</a></li>
    </ol>
</nav>