.content {
    color: rgb(43, 43, 43);
    background-color: #ffffff;
    padding: 1em 2em 1em 2em;
    max-width: 45rem;
    margin: auto;
    margin-top: 2em;
}

img {
    max-width: 45rem;
}

.clickable-text:hover {
    background-color: lightgray;
}

.competition-header {
    display: flex;
    flex-direction: row;
}

.competition-header > div {
    flex: auto;
}

.result {
    table-layout: fixed;
    width: 100%;
    text-align: center;
    word-wrap: normal;
}

.result td {
    vertical-align: top;
}

.result .small {
    width: 1rem;
}

.unfolding-div h1::after {
    padding-left: 1.5rem;
    font-size: 0.8em;
    content: "＋";
}

h1:not(.competition-header) {
    background-image: url(../img/logokeltainen.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 4.5rem;
    background-color:#ffe814ff;
}

h1:not(.competition-header)::before {
    

}

@media screen and (max-width: 500px) {
    .result th {
        padding: 0.3rem;
    }
    .result td {
        padding: 0.3rem;
    }

    img {
        max-width: 300px;
    }
}
