.footer {
    bottom: 0;
    color: black;
    background-image: url(../img/logo_turkoosi.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 1em;
    margin-top: 0;
    background-color: #14e5dfff;
}

.footer img {
    width: 250px;
}
.footer-wrapper {
    max-width: 45rem;
    margin: auto;
}
