.news-container {
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
    max-width: 65em;
    margin: auto;
}

.news {
    overflow-y: scroll;
    display: flex;
    flex-direction: row;
    text-align: center;
}

.news > .square {
    min-width: 20em;
    margin-left: 0.5rem;
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.square > p {
    margin: 0;
    align-items: center;
}
.square > a {
    margin-left: auto;
    margin-right: 1rem;
    color: rgb(43, 43, 43);
}

table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border: 3px solid darkgray;
}

th,
td {
    padding: 1rem;
}

tr:nth-child(even) {
    background-color: lightgray;
}

.scroll-news-btn {
    background: transparent;
    height: 5rem;
    width: 5rem;
    border: none;
    padding: 0px;
    vertical-align: middle;
    text-align: center;
    font-size: 5rem;
    color: lightgray;
}

.scroll-news-btn:hover {
    color: darkgray;
}

.button-group {
    display: flex;
    flex-direction: row;
    justify-content: right;
}
.button-group > button {
    text-align: center;
    margin: auto 0;
}

.frontpage > .content {
    margin-top: 0;
}

.red {
    background-color: #ed1212ff;
}

.yellow {
    background-color: #ffe814ff;
}

.orange {
    background-color: #ff8800ff;
}

.blue {
    background-color: #0060ffff;
}

.turquoise {
    background-color: #14e5dfff;
}

.white {
    background-color: white;
}

@media screen and (max-width: 500px) {
    .scroll-news-btn {
        background: transparent;
        height: 2rem;
        width: 2rem;
        border: none;
        padding: 0px;
        vertical-align: middle;
        text-align: center;
        font-size: 2rem;
        color: lightgray;
    }
    .button-group > button {
        text-align: center;
        margin: auto 0;
    }
    .news-container {
        padding-top: 2rem;
        flex-direction: column;
        max-width: 65em;
        margin: auto;
    }
}