.news-container {
    display: flex;
    flex-direction: row;
    max-width: 65em;
    margin: auto;
}

.news {
    overflow-y: scroll;
    display: flex;
    flex-direction: row;
    text-align: center;
}

.news > .square {
    min-width: 20em;
    border-radius: 0.8em;
    margin-left: 0.5rem;
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.square > p {
    margin: 0;
    align-items: center;
}
.square > a {
    margin-left: auto;
    margin-right: 1rem;
    color: rgb(43, 43, 43);
}

.schedule {
    width: 100%;
    border-collapse: collapse;
    border: 3px solid darkgray;
}

th, td {
    padding: 1rem;
}

.schedule tr:nth-child(even) {
    background-color: lightgray;
}

.scroll-news-btn {
    background: transparent;
    height: 5rem;
    width: 5rem;
    border: none;
    padding: 0px;
    vertical-align: middle;
    text-align: center;
    font-size: 5rem;
    color: lightgray;
}

.scroll-news-btn:hover {
    color: darkgray;
}

.button-group {
    display: flex;
    flex-direction: row;
    justify-content: right
    
}
.button-group > button {
    text-align: center;
    margin: auto 0;
}

.red {
    background-color: #ed1212ff;
}

.yellow {
    background-color: #ffff00ff;
}

.orange {
    background-color: #ff8800ff;
}

.blue {
    background-color: #0060ffff;
}

.turquoise {
    background-color: #32ecffff;
}
