.header {
    font-size: 2rem;
    color: black;
    padding: 1em 1em 0;
    width: 100%;
    height: 30rem;
    background-color: lightgray;
    background-image: url(../img/iso_kuvavärikäs.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header h1 {
    margin: auto;
    margin-top: 11rem;
    max-width: 50rem;
}

.header + .content {
    margin-top: 0;
}