$highlight-color: #765fffff;
$light-color: white;
$dark-color: #41444eff;

.nav {
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 999;
    background: $light-color;
    top:0;
}

.nav ol {
    list-style-type: none;
    padding-left: 0;
    display: inline-block;
}

.nav ol li {
    display: inline-block;
    padding: 0 0.5em;
}

.nav ol li a {
    text-decoration: none;
    color: inherit;
    padding: .2em;
    border-radius: .8em;
}

.nav ol li a:visited {
    color: inherit;
    text-decoration: none;
}

.nav ol li #logo-link:hover {
    color: $light-color;
    text-decoration: none;
    background: transparent;
    padding: 0;
    border-radius: 0;
}

.nav ol li a:hover {
    color: $light-color;
    text-decoration: none;
    background: $highlight-color;
    padding: .2em;
    border-radius: .8em;
}

#nav-logo {
    height: 2rem;
}

.nav button {
    display: none;
}

.nav-hidden {
    position: fixed;
    width: 4em;
    overflow-y: hidden;
    background-color: transparent;
    overflow-x: hidden;
    margin-top: 0;
    padding-top: 0;
}

.nav-hidden #show {
    text-align: center;
    background-color: transparent;
    border: none;
    margin-top: 0;
    overflow-x: hidden;
    background-image: url(../assets/img/drawing.svg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    height: 3.5rem;
    width: 3.5rem;
}

.nav-hidden ol {
    display: none;
}

.nav-hidden #hide {
    display: none;
}

#nav-logo-mobile {
    display: none;
}
