.nav {
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 999;
    top: 0;
    background-color: white;
    padding-top: 1rem;
}

.nav ol {
    list-style-type: none;
    padding-left: 0;
    display: inline-block;
    margin-top: 0;
}

.nav ol li {
    display: inline-block;
    padding: 0 0.5em;
}

.nav ol li a {
    text-decoration: none;
    color: inherit;
    padding: 0.2em;
}

.nav ol li a:visited {
    color: inherit;
    text-decoration: none;
}

#logo-link:hover {
    text-decoration: none;
    background: transparent;
}

.nav ol li a:hover {
    text-decoration: none;
}

#nav-logo {
    height: 2rem;
}


@media screen and (max-width: 500px) {
    .nav {
        position: fixed;
        text-align: left;
        width: 100%;
        z-index: 999;
        top: 0;
        background-color: white;
        padding-top: 1rem;
    }
    .nav ol li {
        padding: .2rem;
    }
}